/* Global styles
------------------------------------------- */
body{
    height: 100vh; 
    width: 100vw; 
    background-color: #111111; 
    background-size: 100vw 100vh;
    position: relative;
    overflow: hidden;
    color: #E5E8E8; /* Brighter text color for readability */
    font-family: Arial, sans-serif; /* Standardize font */
}

#particles-js
{
    position: absolute;
    height: 100%;
    background: #111111;
    width: 100%;
}

.outer_title_page_div, .terminal_div {
    position:relative;
    z-index: 1;
}

p{
    color: #E5E8E8;
}
a:link{
    color:#E5E8E8;
    text-decoration: none;
}

a:visited{
    color:#E5E8E8;
}

a:hover{
    color:#00ffff; /* Brighter hover color for visibility */
}

/* Class and ID selector specific styles
----------------------------------------------- */
.outer_title_page_div{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.title_page_div{
    background-color: #111111;
    padding-left: 50px;
    border-radius: 25px;
    border: 3px ridge #00ffff;
    width: 65vw;
}

.full_name_div{
    color: #E5E8E8;
    font-size: xx-large;
    display: block;
    text-shadow: 0 0 px #00ffff, 0 0 1px #00ffff, 0 0 1px #00ffff, 0 0 1px #00ffff; /* Glow effect */

}

#full_name{
    color: #E5E8E8;
    display: inline-block;
    position: absolute;
    text-shadow: none;

}

#full_name::after{
    content:"";
    display: inline-block;
    width:7px;
    height:25px;
    animation: blink-cursor 0.5s steps(2) infinite;
    background: #E5E8E8;
}

.routes{
    text-align: center;
}

.routes ul{
    list-style: none;
}

.routes ul li{
    display:inline-flex;
    color:#E5E8E8;
    padding: 10px 25px;
    border-radius: 10px;
    font-size: large;
    border: 1px solid #00ffff;
    transition: background 0.3s ease-in-out, transform 0.3s ease-in-out; /* Transition for smooth hover effect */
}

.routes ul li:hover {
    background: #00ffff;
    color: #111111;
    transform: scale(1.1);
}

.terminal_div {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    width: 65%; /* Tweaking this to match with the width of the menu */
}


.instructions{
    color:#E5E8E8;
    display: block;
    text-shadow: -6px 0 6px #111111, 0 6px 6px #111111, 6px 0 6px #111111, 0 -6px 6px #111111;
}

.xterm_div .xterm .xterm-screen {
    border: 1px ridge #00ffff;
    border-right: none;
}


.xterm .xterm-viewport {
    border: 1px ridge #00ffff;
}

/* Animations for keyframes
----------------------------------------------*/
@keyframes blink-cursor {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
