/**
 * Hex colours and descriptions used.
 * #E5E8E8 - light grey.
 * #5D6D7E - dark grey.
 * #111111 - dark grey (almost black).
 * #85ff8f - very bright green.
 * #66FF00 - bright green.
 * #2d6a03 - dark green.
 */


/* Global styles
------------------------------------------- */
body{
    height: 100vh; /* 100% of the available height is filled. Since body selector does not have size by default.*/
    width: 100vw; /* 100% of the available width is filled. Since body selector does not have size by default. */
    background: linear-gradient(#000000, #032105, #032105, #000000);
    background-position: center;
}
    
p{
    color:whitesmoke;
}
a:link{
    color:#66FF00;
    text-decoration: none;
}

a:visited{
    color:#66FF00; /* no change in colour when the link is clicked.*/
}

a:hover{
    color:#85ff8f;
}

/* Class selector specific styles
----------------------------------------------- */
.outer_title_page_div{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.title_page_div{
    background-color: #111111;
    padding-left: 50px;
    border-radius: 25px; /*rounded edges to create a circular title page.*/
    border: 3px ridge #66FF00; /* ridge 3d border effect.*/
    width: 65vw;
}

.full_name_div{
    color: #66FF00;
    font-size: xx-large;
    display: block;

}

#full_name{
    color: #66FF00;
    display: inline-block;
    position: absolute;
}

#full_name::after{
    content:"";
    display: inline-block;
    width:7px;
    height:25px;
    animation: blink-cursor 0.5s steps(2) infinite; /* calling the blink cursor animation for duration of 0.5 seconds in stops of 2 running forever.*/
    background: #66FF00;
}

.routes{
    text-align: center;
}

.routes ul{
    list-style: none;
}

.routes ul li{
    display:inline-flex;
    color:#66FF00;
    /* background-color: black; */
    animation: menu-animation 2s ease-in infinite alternate,/*animating the menu background colours*/
               up-down-animation 4.5s ease-in infinite alternate; /*animating the menu up and down when the hulk smashes.*/
    animation-delay: 0s, 4s;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px; /*rounded edges to create a 'button' look to each list item.*/
    font-size:large;
}

.terminal_div{
    display: flex;
    justify-content: center;
}

.instructions{
    color:#66FF00;
    display: block;
}

.xterm_div .xterm .xterm-screen{
    /* using the descendent .xterm-screen to add a border around the terminal. */
    border: 5px ridge #66FF00;
}

.hulk_smash_div{
    height: 100px; /*height of each sprite */
    width: 79px; /* width of 1 sprite is 80px. 9 sprites total but only 1 is displayed each step. */
    background-image: url('../sprites/hulk_poses/smash/hulk_smash_spritesheet.png');
    background-repeat: no-repeat;
    animation: hulk-smash-animation 9s steps(9) infinite; /* 9 steps since there are 9 sprites total. */
    display: inline-flex;
}

.ground_div{
    height: 16px; /*height of each sprite */
    width: 100vw; /* width of 1 sprite is 80px. 9 sprites total but only 1 is displayed each step. */
    background-image: url('../sprites/ground/ground_split_spritesheet.png');
    background-repeat: no-repeat;
    animation: ground-split-animation 2s ease-in infinite alternate-reverse;
    display: inline-block;
}

/* Animations for keyframes
----------------------------------------------*/
@keyframes blink-cursor {
    /* At keyframe state 0% opacity of the cursor becomes transparent.*/
    from{
        opacity: 0;
    }
}

@keyframes menu-animation {
    from{
        background-color: #001c05;
    }
    to{
        background-color: #000000;
    }
}

@keyframes hulk-smash-animation {
    from{
        background-position: 0px;
    }
    to{
        background-position: calc(80px * -9); /* total width of spritesheet. */
    }
}

@keyframes up-down-animation {
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-50px);
    }
}

@keyframes hulk-smash-text-animation {
    from{
        color: #66FF00;
    }
}

@keyframes ground-split-animation {
    from{
        background-position: 0px;
    }
    to{
        background-position: calc(16px * -2);
    }
}