<!DOCTYPE html>

<body>
    <head>
        <link rel="stylesheet" href=" {{ url_for ('static', filename='stylesheets/menu_styles.css') }}">
    </head>
    
    <h1>Get in touch</h1>
    <p>
        Do you have any questions? <br>
        Any feedback or questions regarding this site ? <br>
        Or some awesome ideas ? <br>
        Feel free to reach out through my email nilu202@hotmail.com <br>
    </p>

    <h3>Send me a message.</h3>
    <b>Name</b>
    <br>
    <b>Email</b>
    <br>
    <b>Message</b>
    <br>
    <button>SEND</button>

</body>