<!DOCTYPE HTML>

<body>
    <head>
        <!-- Adding the CSS style to the style sheet-->
        <link rel="stylesheet" href= " {{ url_for('static',filename='stylesheets/styles.css') }}">
    </head>

    <div class="outer_title_page_div">
        <div class="title_page_div">
            <h1 class="full_name_div">Nilushanth Thiruchelvam:$ <div id="full_name">&nbsp</div> </h1>
            <section class="routes">
                <ul>
                    <div class="hulk_smash_div"></div>
                    <li><a href="{{ url_for('home') }}">/home 🏡</a></li>
                    <li><a href="{{ url_for('about') }}">/about 👀</a></li>
                    <li><a href="{{ url_for('skills') }}">/skills 📚</a></li>
                    <li><a href="{{ url_for('contact') }}">/contact info 👤</a></li>
                    <li><a href="{{ url_for('projects') }}">/projects 🔥</a></li>
                    <li><a href="{{ url_for('games') }}">/mini games 🎮</a></li>
                    
                </ul>
            </section>
        </div>
    </div>
    
    <br>
    <br>

    <div class="terminal_div">
        <div class="xterm_div">
        <h3 class="instructions">Terminal Instructions</h3>
        <p>
            Use the terminal to navigate my portfolio website ! Or you could use the menu above. 
            <br>
            Enter the 'help' command to see the list of available commands.
        </p>
            {% include 'terminal.html' %} <!--Using jinja to include the terminal template in this html file-->
        </div>
    </div>

    <script src="{{ url_for('static', filename='scripts/nilu.js') }}"></script>

</body> <!-- body div closing div tag-->