<!DOCTYPE HTML>

<body>

    <head>
        <!-- Adding the CSS style to the style sheet-->
        <link rel="stylesheet" href= " {{ url_for('static',filename='stylesheets/styles.css') }}">
        <script src="{{ url_for('static', filename='scripts/nilu.js') }}" defer></script>
        <script src="{{ url_for('static', filename='scripts/particles.js') }}" defer></script>
        <script src="{{ url_for('static', filename='scripts/app.js') }}" defer></script>

    </head>

    <div id="particles-js"></div>

    <div class="outer_title_page_div">
        <div class="title_page_div">
            <h1 class="full_name_div">Nilushanth Thiruchelvam:$ <div id="full_name">&nbsp</div> </h1>
            <section class="routes">
                <ul>
                    <li><a href="{{ url_for('home') }}">Home 🏡</a></li>
                    <li><a href="{{ url_for('about') }}">About 👀</a></li>
                    <li><a href="{{ url_for('skills') }}">Skills 📚</a></li>
                    <li><a href="{{ url_for('contact') }}">Contact Info 👤</a></li>
                    <li><a href="{{ url_for('projects') }}">Projects 🔥</a></li>
                    <li><a href="{{ url_for('work') }}">Work Experience 👨‍💻</a></li>
                </ul>
            </section>
        </div>
    </div>
    
    <br>
    <br>

    <div class="terminal_div">
        <div class="xterm_div">
        <h3 class="instructions">Terminal Instructions</h3>
        <p>
            Use the terminal to navigate my portfolio website ! Or you could use the menu above. 
            <br>
            Enter the 'help' command to see the list of available commands.
        </p>
        <div class="terminal_border">
            {% include 'terminal.html' %} <!--Using jinja to include the terminal template in this html file-->
        </div>
        </div>
    </div>

</body> <!-- body div closing div tag-->