<!DOCTYPE html>

<body>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/menu_styles.css') }}">
    </head>
    
    <h1>My projects</h1>
    <!--Project 1 descriptions-->
    <h3>Project 1: BudgetVision Android App</h3>
    <b>Programming languages used: </b> Java, XML
    <br>
    <b>IDE used:</b>  Android Studio
    <br>
    <b>Project Description</b>
    <p>BudgetVision is an Android App made with Java and XML.</p>
    <hr>
    <!--Project 2 descriptions-->
    <h3>Project 2: niluSH (nilu shell)</h3>
    <b>Programming languages used: </b> C
    <br>
    <b>IDE used:</b> Visual Studio Code (VSCode)
    <br>
    <b>Project Description</b>
    <br>
    <hr>
    <!--Project 3 descriptions-->
    <h3>Project 3: This portfolio !</h3>
    <b>Programming languages & Libraries used: </b> Flask, Python, Javascript, Xterm.js, CSS, HTML.
    <br>
    <b>IDE used:</b> Visual Studio Code (VSCode)
    <br>
    <b>Project Description</b>
    <hr>
    <!-- Other projects -->
    <h3>Other projects</h3>
    <b>Project Description 1</b>
    <br>
    <b>Project Description 2</b>
    <br>
    <b>Project Description 3</b>
    <br>
    <b>Project Description 4</b>
</body>