<!DOCTYPE HTML>

<body>
    <head>
        <link rel="stylesheet" href="{{ url_for('static',filename='stylesheets/menu_styles.css')}}">
    </head> 
    <p> 
        Here is a tree of all skills I possess.
        Hover over the displayed skill.
    </p>

    <h1>Web development</h1>
    <ul>
        <li>Flask framework</li>
        <li>Javascript</li>
        <li>HTML</li>
        <li>CSS</li>
    </ul>

    <h1>Mobile development</h1>
    <ul>
        <li>Android app development using Java</li>
        <li>Android studio</li>
        <li>XML</li>
    </ul>
</body>