<!DOCTYPE HTML>

<body>
    <head>
        <link rel="stylesheet" href="{{ url_for('static',filename='stylesheets/menu_styles.css')}}">
        <script src="static/scripts/nilu.js" defer></script>
    </head> 
    
    <div class="skills_div">

        <div class="controls_div">
            <img id="back_btn" src="static/sprites/game_controls/back.png" width="50" height="50">
            <br>
        </div>

        <div class="web_dev_div">
            <h1>Web development</h1>
            <ul>
                <li>Javascript</li>
                <li>Flask framework</li>
                <li>HTML</li>
                <br>
                <li>CSS</li>
            </ul>
        </div>

        <div class="mobile_dev_div">
            <h1>Mobile development</h1>
            <ul>
                <li>Java</li>
                <li>Android studio</li>
                <li>XML</li>
            </ul>
        </div>

        <div class="languages_div">
            <h1>Known languages</h1>
            <ul>
                <li>Java</li>
                <li>Javascript</li>
                <li>C</li>
                <br>
                <li>Bash scripting</li>
                <li>Python</li>
                
            </ul>
        </div>

        <div class="other_skills_div">
            <h1>Other skills</h1>
            <ul>
                <li>Object-oriented programming</li>
                <br>
                <li>Data structures</li>
                <li>Git version control</li>
            </ul>
        </div>

    </div>

</body>